@import url(https://fonts.googleapis.com/css?family=PT+Sans:400, 600, 700|Open+Sans:400,600,700|Lato:400, 600, 700|Roboto+Condensed:400, 600, 700);

@font-face {
	font-family: BaronNeue;
	src: url("../fonts/baronneue/BaronNeue.otf") format("opentype");
}

/******************************/
/********* Basic CSS **********/ 
/******************************/
body{
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none !important;
}
ul {
	list-style: none;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.transition{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
body {
	background-color: #e7e7e7 !important;
}
header .container {
	background-color: #fff !important;
}
.bg-white {
	background-color: #fff;
}
.titulo-section-box {
	margin: 15px 0;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.titulo-section {
	font-size: 35px;
	border-top: 1px solid #565656;
	border-bottom: 1px solid #565656;
	padding: 6px 0;
    letter-spacing: 2.4px;
}

/******************************/
/********* Fonts **************/ 
/******************************/
.ff-open{
	font-family: 'Open Sans', sans-serif;
}
.ff-lato{
	font-family: 'Lato', sans-serif;
}
.ff-ptsans{
	font-family: 'PT Sans', sans-serif;
}
.ff-baron {
	font-family: 'BaronNeue';
}
.ff-roboto {
	font-family: 'Roboto Condensed', sans-serif;
}

/******************************/
/********* Header CSS *********/ 
/******************************/
.header-firstrow {
	margin-top: 5px;
}
.header-firstrow.left {
	text-align: center;
	margin-top: 10px;
}
.header-firstrow.left ul {
	background-color: #333333;
	border-radius: 5px;
}
.ul-firstrow {
	text-align: right;
}
.ul-firstrow li a {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #565656;
	vertical-align: sub;
}
.ul-firstrow li.vantagens {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: sub;	
}
.ul-firstrow li .fa {
	color: #e5b8c0;
}
.imglogo {
	width: 40%;
	opacity: 0.95;
}
.logo-box {
	background-image: url(../img/bricks4.jpg);
	border-radius: 10px 10px 0 0;
}
.input-busca {
	background: #eee;
	border: 1px solid #565656;
	outline: none;
	font-size: 14px;
	font-family: 'Lato';
}
.li-lupa {
	text-align: left;
	padding-left: 5px !important;
	font-size: 18px !important;
}
.redes-sociais {
	margin-top: 10px;
	text-align: right;
	font-size: 25px;
}
.redes-sociais .fa {
	padding: 8px;
    border: 3px solid #333;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    margin-bottom: 2px;
}
.redes-sociais .fa:hover {
    border: 3px solid #333;
    background-color: transparent;
    color: #333;
}
.ul-menu {
	text-align: center;
	margin-top: 10px;
}
.ul-menu li {    
	padding: 8px 0px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.4px;
	font-weight: bold;
	color: #565656;
}
.ul-menu a:nth-child(-n+5) li {
	border-right: 1px solid #565656;
}
.ul-menu a:hover li{
	letter-spacing: 2px;
}

/******************************/
/********* Banner  CSS ********/ 
/******************************/
.carousel-control.right, .carousel-control.left {
	background-image: none !important;
	text-shadow: none;
}

/******************************/
/********* Home CSS ***********/ 
/******************************/
.section-home {
	background-color: #fff;
}
.view-index .section-home {
	border-radius: 0 0 10px 10px;
}
.view-index .section-home .img-estampas.imgLiquid {
	height: 335px;
}
.view-index .section-home .img-votacao.imgLiquid {
	height: 245px;
}
.view-index .section-home .estampas-box {
	border: 3px solid #f5b9c2;
    padding: 10px;
    -webkit-filter: brightness(100%);
    -moz-filter:    brightness(100%);
    -o-filter:      brightness(100%);
    filter:         brightness(100%);
}
.view-index .section-home .estampas-box:hover {
	border: 3px solid #f5b9c2;
    padding: 0px;
    -webkit-filter: brightness(80%);
    -moz-filter:    brightness(80%);
    -o-filter:      brightness(80%);
    filter:         brightness(80%);
}
.view-index .section-home ul li.estampas-box:nth-child(1n+2) {
	border-left: 0;
}
.view-index .btn-vote {
	padding: 2px;
	background-color: #f5b9c2;
	border: 1px solid transparent;
}
.view-index .btn-vote:hover {
	background-color: #d4adb3;
	border: 1px solid #f5b9c2;
}
.view-index .section-home .ul-votacao li {
	margin-bottom: 35px;
}
.view-index .section-home .ul-votacao li .item.esq{
	margin-right: 5px;
}
.view-index .section-home .ul-votacao li .item.dir{
	margin-left: 5px;
}
.view-index .section-home .titulo-votacao {
	font-size: 24px;
	margin-top: 5px;
}
.view-index .section-home .texto-votacao {
	height: 80px;
	overflow: hidden;
	margin-bottom: 0px;
}
.view-index .section-home .btn-ver-mais {
	font-weight: bold;
	letter-spacing: 1.4px;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}
.modal-content-votacao {
    text-align: center;
    font-size: 25px;
    padding: 25px;
}
.btn-fechar-votacao {
	background-color: #f5b9c2;
	margin-top: 20px;
	letter-spacing: 1.4px;
	font-size: 12px !important;
	font-weight: bold !important;
}
.view-index .section-home .sub-frase {
	margin-top: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-weight: bold;
}

/******************************/
/********* Camisetas CSS ******/ 
/******************************/
.view-camisetas .listagem-camisetas {
	background-color: #fff;
}
.view-camisetas .listagem-camisetas li {
	margin-top: 10px;
	border: 1px solid transparent;
}
.view-camisetas .listagem-camisetas li:hover {
	border: 1px solid #f5b9c2;
	padding: 0;
}
.view-camisetas .listagem-camisetas li:hover .img-estampas {
	margin: 0;
}
.view-camisetas .listagem-camisetas li:hover .item-info {
	padding: 0 15px;
}
.view-camisetas .img-estampas.imgLiquid {
	height: 350px;
	margin-top: 15px;
}
.view-camisetas .listagem-camisetas .item-info {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.4px;
	font-weight: bold;
	color: #565656;
	height: 55px;
	overflow: hidden;
}
.view-camisetas .divisor-camisetas {
	border-top: 1px dashed #eee;
}

/******************************/
/********* Up to You CSS ******/
/******************************/
.view-uptoyou .voting-section {
	background-color: #fff;
}
.view-uptoyou .btn-vote {
	padding: 2px;
	background-color: #f5b9c2;
	border: 1px solid transparent;
}
.view-uptoyou .btn-vote:hover {
	background-color: #d4adb3;
	border: 1px solid #f5b9c2;
}
.view-uptoyou .ul-votacao li {
	margin-bottom: 35px;
}
.view-uptoyou .ul-votacao li .item.esq{
	margin-right: 5px;
}
.view-uptoyou .ul-votacao li .item.dir{
	margin-left: 5px;
}
.view-uptoyou .titulo-votacao {
	font-size: 24px;
	margin-top: 5px;
}
.view-uptoyou .texto-votacao {
	height: 80px;
	overflow: hidden;
	margin-bottom: 0px;
}
.view-uptoyou .btn-ver-mais {
	font-weight: bold;
	letter-spacing: 1.4px;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}
.view-uptoyou .sub-frase {
	margin-top: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-weight: bold;
}
.view-uptoyou .img-votacao.imgLiquid {
	height: 245px;
}

/******************************/
/********* Footer CSS *********/ 
/******************************/
footer {
	margin: 25px 0 10px 0;
}
footer .conteudo-footer {
	background-color: #fff;
}
footer img.logo-footer {
	margin-top: 10px;
	width: 10%;
}
footer ul {
	margin-top: 15px;
}
footer ul a {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-weight: bold;
	color: #565656;
}
footer ul a:hover {
	color: #565656;
	letter-spacing: 2px;
}
footer .detalhe-cima, footer .detalhe-baixo {
	border-top: 1px solid #f5b9c2;
}
footer .detalhe-complemento {
	height: 70px;
	background-color: #f5b9c2;
	width: 1px;
	position: absolute;
	margin: auto;
}
footer .detalhe-complemento.cima {
	right: 100%;
	top: -1px;
}
footer .detalhe-complemento.baixo {
	left: 100%;
	bottom: 100%;
}
footer .copyright {   
	position: absolute;
	float: right;
	margin: auto;
	bottom: 1px;
	right: 5px;
	font-size: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
}